---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/schema?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05074164587fa11e038a29fd784d4ba9"
    body:
      encoding: UTF-8
      string: '{"schema_version":1,"host":"dennis.dev.adam.ac","namespace":"/api/v1","api":"CoreAPI/Base","objects":[{"type":"api","value":{"id":"CoreAPI/Base","name":null,"description":null,"authenticator":"CoreAPI/Authenticator","route_set":{"routes":[{"path":"nameservers","request_method":"GET","controller":"CoreAPI/Controllers/NameserversController","endpoint":"CoreAPI/Controllers/NameserversController/ListEndpoint","group":"nameservers"},{"path":"nameservers","request_method":"POST","controller":"CoreAPI/Controllers/NameserversController","endpoint":"CoreAPI/Controllers/NameserversController/CreateEndpoint","group":"nameservers"},{"path":"nameservers/:nameserver","request_method":"GET","controller":"CoreAPI/Controllers/NameserversController","endpoint":"CoreAPI/Controllers/NameserversController/InfoEndpoint","group":"nameservers"},{"path":"nameservers/:nameserver","request_method":"PATCH","controller":"CoreAPI/Con[...]
