---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Apple Group","external_reference":"apples"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c55cfa1803497ce692de015fe19a456f"
    body:
      encoding: UTF-8
      string: '{"group":{"id":5,"name":"Apple Group","external_reference":"apples","created_at":1619109094,"updated_at":1619109094,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
