---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a000bbd0fd3fe74d6363b6c1a10b692f"
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":2,"name":"Another Group","external_reference":"another","created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1615284490,"updated_at":1615284490,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490},{"id":2,"name":"alex.example.com","server":1,"created_at":1615284490,"updated_at":1615284490}]},{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]}]}'
  recorded_at: Tue, 09 Mar 2021 10:08:15 GMT
recorded_with: VCR 6.0.0
