---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0520d874935035fde27d4fab4f745cab"
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":2,"name":"Another Group","external_reference":"another","created_at":1617358344,"updated_at":1617358344,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343},{"id":4,"name":"ruth.example.com","server":2,"created_at":1617358343,"updated_at":1617358343}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1617358343,"updated_at":1617358343,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]},{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1617358344,"updated_at":1617358344,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":1,"name":"simon.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1617358344,"updated_at":1617358344,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]}]}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
