---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"376b7047462e60f32d8e25fd6efa30e3"
    body:
      encoding: UTF-8
      string: '{"group":{"id":1,"name":"Example Group","external_reference":null,"created_at":1614966043,"updated_at":1614966043,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1614966043,"updated_at":1614966043},{"id":5,"name":"laura.example.com","server":2,"created_at":1614966043,"updated_at":1614966043}]}}'
  recorded_at: Fri, 05 Mar 2021 17:40:46 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bdf064ac2f3d8bb47b425b28d5013ac6"
    body:
      encoding: UTF-8
      string: '{"group":{"id":1,"name":"Example Group","external_reference":null,"created_at":1614966043,"updated_at":1614966043,"nameservers":[]}}'
  recorded_at: Fri, 05 Mar 2021 17:40:46 GMT
recorded_with: VCR 6.0.0
