---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Apple Group","external_reference":"apples"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c6bcd58a94e1f275cbde1300131628e"
    body:
      encoding: UTF-8
      string: '{"group":{"id":5,"name":"Apple Group","external_reference":"apples","created_at":1617358359,"updated_at":1617358359,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
