---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:99999%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"group_not_found","description":"No group could be
        found using the given arguments","detail":{}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
