---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00c1aefbd8f2ea08c6fd751cd17f8fcd"
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":2,"name":"Another Group","external_reference":"another","created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":1,"name":"simon.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705},{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705}]}]}'
  recorded_at: Mon, 29 Mar 2021 16:51:52 GMT
recorded_with: VCR 6.0.0
