---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:3%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0ee9934c61506aee3e8280eb7680e4"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1617358344,"updated_at":1617358344,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":1,"name":"simon.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":3}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f8d5f7c96eb0e8b7dd9352442b371beb"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1617358344,"updated_at":1617358344,"nameservers":[]}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
