---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2385c48f25fc4d3d3757b2255a6df28a"
    body:
      encoding: UTF-8
      string: '{"group":{"id":1,"name":"Renamed Group","external_reference":"with-ref","created_at":1614963388,"updated_at":1614963402,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1614963388,"updated_at":1614963388},{"id":3,"name":"dave.example.com","server":1,"created_at":1614963388,"updated_at":1614963388}]}}'
  recorded_at: Fri, 05 Mar 2021 17:31:55 GMT
recorded_with: VCR 6.0.0
