---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aeb7d0263038ed3ef96c154b0cc0ebdc"
    body:
      encoding: UTF-8
      string: '{"group":{"id":1,"name":"Renamed Group","external_reference":"with-ref","created_at":1619109091,"updated_at":1619109094,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":""}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"name","type":"blank","message":"Name
        can''t be blank"}]}}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
