---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e046d166d9c72e7d865012ec334f922"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"groups":[{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1618480640,"updated_at":1618480640,"nameservers":[{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1618480640,"updated_at":1618480640,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1618480640,"updated_at":1618480640}]},{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1618480640,"updated_at":1618480640,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1618480640,"updated_at":1618480640,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1618480640,"updated_at":1618480640}]}]}'
  recorded_at: Thu, 15 Apr 2021 09:57:25 GMT
recorded_with: VCR 6.0.0
