---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Apple Group","external_reference":"apples"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ed737eda4ac3de3281c0716d34170b3"
    body:
      encoding: UTF-8
      string: '{"group":{"id":5,"name":"Apple Group","external_reference":"apples","created_at":1617036712,"updated_at":1617036712,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705},{"id":4,"name":"ruth.example.com","server":2,"created_at":1617036705,"updated_at":1617036705}]}}'
  recorded_at: Mon, 29 Mar 2021 16:51:52 GMT
recorded_with: VCR 6.0.0
