---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:3%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"738b65b51399844d22415aa15e74d376"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]}}'
  recorded_at: Mon, 08 Mar 2021 11:14:47 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":3}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"36a8ac10dac5fdb078d3b46d94ce3c6d"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1615201537,"updated_at":1615201537,"nameservers":[]}}'
  recorded_at: Mon, 08 Mar 2021 11:14:47 GMT
recorded_with: VCR 6.0.0
