---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%22page%22:2,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2002e94d9a393e302afe49135f74e9d"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":2,"total_pages":2,"total":4,"per_page":2,"large_set":false},"groups":[{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1618864931,"updated_at":1618864931,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1618864931,"updated_at":1618864931,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930}]}]}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
recorded_with: VCR 6.0.0
