---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19cf53cdc6e9db4acf4fa0e3d40a238b"
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":2,"name":"Another Group","external_reference":"another","created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":6,"name":"kelly.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]},{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1615201537,"updated_at":1615201537},{"id":3,"name":"dave.example.com","server":1,"created_at":1615201537,"updated_at":1615201537}]}]}'
  recorded_at: Mon, 08 Mar 2021 11:14:46 GMT
recorded_with: VCR 6.0.0
