---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22external_reference%22:%22another%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a77f32352e8ac0de5e5aed1f65646f8"
    body:
      encoding: UTF-8
      string: '{"group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615201537,"updated_at":1615201537,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]}}'
  recorded_at: Mon, 08 Mar 2021 11:14:46 GMT
recorded_with: VCR 6.0.0
