---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4716bf91738c8780c39613b106c42f7"
    body:
      encoding: UTF-8
      string: '{"group":{"id":1,"name":"Renamed Group","external_reference":"with-ref","created_at":1618864930,"updated_at":1618864942,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930}]}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":""}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"name","type":"blank","message":"Name
        can''t be blank"}]}}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
recorded_with: VCR 6.0.0
