---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22external_reference%22:%22another%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6af8dc7d1a2850f7b2f83f7a69bacb48"
    body:
      encoding: UTF-8
      string: '{"group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]}}'
  recorded_at: Mon, 29 Mar 2021 16:51:52 GMT
recorded_with: VCR 6.0.0
