---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:3%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8d1f2950b40ba4b7f41f88ed728ece9"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":3}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22f25210b9f35d849a88956a75d36f7e"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
