---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22external_reference%22:%22another%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37b9162b3fe2ac5bd71260ade5b41552"
    body:
      encoding: UTF-8
      string: '{"group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]}}'
  recorded_at: Tue, 09 Mar 2021 10:08:15 GMT
recorded_with: VCR 6.0.0
