---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"813ac5d0957ed07eef928e4e051a575b"
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":2,"name":"Another Group","external_reference":"another","created_at":1614963389,"updated_at":1614963389,"nameservers":[{"id":1,"name":"simon.example.com","server":1,"created_at":1614963388,"updated_at":1614963388},{"id":4,"name":"ruth.example.com","server":2,"created_at":1614963388,"updated_at":1614963388}]},{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1614963388,"updated_at":1614963388,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1614963388,"updated_at":1614963388},{"id":3,"name":"dave.example.com","server":1,"created_at":1614963388,"updated_at":1614963388}]}]}'
  recorded_at: Fri, 05 Mar 2021 16:56:42 GMT
recorded_with: VCR 6.0.0
