---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:3%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f007d9b96ff7994056f4dd72c7294d8d"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":1,"name":"simon.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]}}'
  recorded_at: Mon, 29 Mar 2021 16:51:52 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group
    body:
      encoding: UTF-8
      string: '{"group":{"id":3}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0e4a367fe3fa699e65d9209e2a11e6b"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Pear Group","external_reference":null,"created_at":1617036705,"updated_at":1617036705,"nameservers":[]}}'
  recorded_at: Mon, 29 Mar 2021 16:51:52 GMT
recorded_with: VCR 6.0.0
