---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group?_arguments=%7B%22group%22:%7B%22id%22:2%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b64f03c49ef6b0d8ebd75eb5bb9b80e8"
    body:
      encoding: UTF-8
      string: '{"group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1614963389,"updated_at":1614963389,"nameservers":[{"id":1,"name":"simon.example.com","server":1,"created_at":1614963388,"updated_at":1614963388},{"id":4,"name":"ruth.example.com","server":2,"created_at":1614963388,"updated_at":1614963388}]}}'
  recorded_at: Fri, 05 Mar 2021 16:56:42 GMT
recorded_with: VCR 6.0.0
