---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Apple Group","external_reference":"apples"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71abccc4093e619a019de3f83de90068"
    body:
      encoding: UTF-8
      string: '{"group":{"id":3,"name":"Apple Group","external_reference":"apples","created_at":1614963402,"updated_at":1614963402,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1614963388,"updated_at":1614963388},{"id":1,"name":"simon.example.com","server":1,"created_at":1614963388,"updated_at":1614963388}]}}'
  recorded_at: Fri, 05 Mar 2021 16:56:42 GMT
recorded_with: VCR 6.0.0
