---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups?_arguments=%7B%22page%22:2,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4fbe2e71cbba37dea778bfffd729d40"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":2,"total_pages":2,"total":4,"per_page":2,"large_set":false},"groups":[{"id":3,"name":"Pear
        Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]},{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]}]}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
