---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Apple Group","external_reference":"apples"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5cae4c89b019ded7dfe0e070dbe903ba"
    body:
      encoding: UTF-8
      string: '{"group":{"id":5,"name":"Apple Group","external_reference":"apples","created_at":1615202087,"updated_at":1615202087,"nameservers":[{"id":1,"name":"simon.example.com","server":1,"created_at":1615201537,"updated_at":1615201537},{"id":6,"name":"kelly.example.com","server":2,"created_at":1615201537,"updated_at":1615201537}]}}'
  recorded_at: Mon, 08 Mar 2021 11:14:47 GMT
recorded_with: VCR 6.0.0
