---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:2%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a25eb08eddc0a431fd243a251633e8f"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
