---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:8%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"af5e772667f7f46ceb40523b17055ab8"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8,"name":"delete-me.example.com","server":2,"available":true,"created_at":1619109095,"updated_at":1619109095}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"af5e772667f7f46ceb40523b17055ab8"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8,"name":"delete-me.example.com","server":2,"available":true,"created_at":1619109095,"updated_at":1619109095}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
recorded_with: VCR 6.0.0
