---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9f247112afd9e87d7fa65bbd99e089c"
    body:
      encoding: UTF-8
      string: '{"nameservers":[{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
