---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"delete-me.example.com","server":2}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b29e90c7c73e7f68eb82e97cce17a756"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":9,"name":"delete-me.example.com","server":2,"created_at":1617037095,"updated_at":1617037095}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
