---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"jim.example.com","server":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fdc6fcfc63dc3728d1ecf15c07429b2"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":7,"name":"jim.example.com","server":1,"available":true,"created_at":1618864942,"updated_at":1618864942}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
recorded_with: VCR 6.0.0
