---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:8%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad276b6216979582934887bb38b01ffe"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8,"name":"delete-me.example.com","server":2,"available":true,"created_at":1618864942,"updated_at":1618864942}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad276b6216979582934887bb38b01ffe"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8,"name":"delete-me.example.com","server":2,"available":true,"created_at":1618864942,"updated_at":1618864942}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
recorded_with: VCR 6.0.0
