---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"099d84ca3b30f01456d221e58d02fe04"
    body:
      encoding: UTF-8
      string: '{"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705},{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705},{"id":7,"name":"jim.example.com","server":1,"created_at":1617036712,"updated_at":1617036712},{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":5,"name":"laura.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":1,"name":"phil.example.com","server":2,"created_at":1617036705,"updated_at":1617036712},{"id":4,"name":"ruth.example.com","server":2,"created_at":1617036705,"updated_at":1617036705}]}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
