---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f008efd2e7c68a4211a8042306f99d79"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1},"properties":{"name":"phil.example.com","server":2}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b955f26f3b9aee7afba868e623316d6"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864942}}'
  recorded_at: Mon, 19 Apr 2021 20:42:22 GMT
recorded_with: VCR 6.0.0
