---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"334b861eb1c1b396338885cf10a060b2"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"simon.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1},"properties":{"name":"phil.example.com","server":2}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a3a939ad5933d7e3cf0e25059912c0d"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"phil.example.com","server":2,"created_at":1617358343,"updated_at":1617358359}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
