---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:9%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b29e90c7c73e7f68eb82e97cce17a756"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":9,"name":"delete-me.example.com","server":2,"created_at":1617037095,"updated_at":1617037095}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":9}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b29e90c7c73e7f68eb82e97cce17a756"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":9,"name":"delete-me.example.com","server":2,"created_at":1617037095,"updated_at":1617037095}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
