---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:2%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed24b48102b5d8eca8b857e954c1c40d"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":2,"name":"alex.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
