---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"jim.example.com","server":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89a75cc958f79e4ab653d3ae0e7e20f7"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":7,"name":"jim.example.com","server":1,"created_at":1617358359,"updated_at":1617358359}}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
