---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"","server":null}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"name","type":"blank","message":"Name
        can''t be blank"},{"attribute":"server","type":"blank","message":"Server can''t
        be blank"}]}}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
