---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"jim.example.com","server":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5308fe178bea51913d921ecc1bdc3cd0"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":7,"name":"jim.example.com","server":1,"available":true,"created_at":1618480646,"updated_at":1618480646}}'
  recorded_at: Thu, 15 Apr 2021 09:57:26 GMT
recorded_with: VCR 6.0.0
