---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"jim.example.com","server":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9bb1e277a0163b0bb8dc3dc1820f984c"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":8,"name":"jim.example.com","server":1,"created_at":1617037095,"updated_at":1617037095}}'
  recorded_at: Mon, 29 Mar 2021 16:58:15 GMT
recorded_with: VCR 6.0.0
