---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9fd844105e957052cb56c54a98e4170c"
    body:
      encoding: UTF-8
      string: '{"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1617358343,"updated_at":1617358343},{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343},{"id":6,"name":"kelly.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":5,"name":"laura.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":4,"name":"ruth.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":1,"name":"simon.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]}'
  recorded_at: Fri, 02 Apr 2021 10:12:39 GMT
recorded_with: VCR 6.0.0
