---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/nameservers
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"jim.example.com","server":1}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1eddacbe08582011cc38784c925224bf"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":7,"name":"jim.example.com","server":1,"available":true,"created_at":1619109094,"updated_at":1619109094}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
recorded_with: VCR 6.0.0
