---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver?_arguments=%7B%22nameserver%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fcc18402d5e7a582aaa3cad84c2036d"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"simon.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}}'
  recorded_at: Thu, 22 Apr 2021 16:31:34 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/nameservers/:nameserver
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1},"properties":{"name":"phil.example.com","server":2}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fef207e469be016bf5c5f0febaf6ae30"
    body:
      encoding: UTF-8
      string: '{"nameserver":{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109095}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
recorded_with: VCR 6.0.0
