---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/tagged?_arguments=%7B%22tags%22:%5B%22tag2%22%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26f90c5fbf0e7ca3198e0b26de124046"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":20,"name":null,"external_reference":null,"type":"A","full_name":"bananas.com","ttl":null,"priority":null,"managed":false,"created_at":1619109092,"updated_at":1619109092,"tags":["tag2"],"raw_content":"185.22.211.55","display_content":"185.22.211.55","content":{"A":{"ip_address":"185.22.211.55"}},"zone":{"id":2,"name":"bananas.com","verified":false}},{"id":6,"name":null,"external_reference":null,"type":"A","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1619109092,"updated_at":1619109092,"tags":["tag1","tag2"],"raw_content":"185.22.211.61","display_content":"185.22.211.61","content":{"A":{"ip_address":"185.22.211.61"}},"zone":{"id":1,"name":"example.com","verified":true}},{"id":7,"name":null,"external_reference":null,"type":"AAAA","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1619109092,"updated_at":1619109092,"tags":["tag2"],"raw_content":"2a00:67a0:a:1::1","display_content":"2a00:67a0:a:1::1","content":{"AAAA":{"ip_address":"2a00:67a0:a:1::1"}},"zone":{"id":1,"name":"example.com","verified":true}}]}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
recorded_with: VCR 6.0.0
