---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22type%22:%22CNAME%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be8ddd1c94a72ddec38c8b2f1e7536cf"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":4,"name":"_1c102aaebd0fad7b110d902d2f3682d4","external_reference":null,"type":"CNAME","full_name":"_1c102aaebd0fad7b110d902d2f3682d4.example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358343,"content":{"CNAME":{"hostname":"9DEF881C1969EA572754FAD3258B9C57.B44F379D67E6BBC684DD3A22CCEA1E11.tf3Uy5q5AZ5AFz595yD5.comodoca.com"}}},{"id":12,"name":"staging","external_reference":null,"type":"CNAME","full_name":"staging.example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358343,"content":{"CNAME":{"hostname":"codebase-staging.infra.atech.io"}}},{"id":8,"name":"www","external_reference":"www-cname-example","type":"CNAME","full_name":"www.example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358343,"content":{"CNAME":{"hostname":"example.com"}}}]}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
