---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22external_reference%22:%22www-cname-example%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05e32db412120824f864d5b2a5e83de5"
    body:
      encoding: UTF-8
      string: '{"record":{"id":8,"name":"www","external_reference":"www-cname-example","type":"CNAME","full_name":"www.example.com","ttl":null,"priority":null,"content":{"CNAME":{"hostname":"example.com"}}}}'
  recorded_at: Tue, 09 Mar 2021 10:08:16 GMT
recorded_with: VCR 6.0.0
