---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22per_page%22:2,%22page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e9fd3345f837941a4409100a5fcde27"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":6,"name":null,"external_reference":null,"type":"A","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"185.22.211.61","content":{"A":{"ip_address":"185.22.211.61"}}},{"id":7,"name":null,"external_reference":null,"type":"AAAA","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"2a00:67a0:a:1::1","content":{"AAAA":{"ip_address":"2a00:67a0:a:1::1"}}},{"id":14,"name":null,"external_reference":null,"type":"CAA","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864931,"updated_at":1618864931,"raw_content":"0
        issue \"letsencrypt.com\"","content":{"CAA":{"flag":"0","tag":"issue","value":"letsencrypt.com"}}},{"id":10,"name":null,"external_reference":null,"type":"MX","full_name":"example.com","ttl":null,"priority":10,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"post.atech.io","content":{"MX":{"hostname":"post.atech.io"}}},{"id":2,"name":null,"external_reference":null,"type":"NS","full_name":"example.com","ttl":null,"priority":null,"managed":true,"created_at":1618864930,"updated_at":1618864930,"raw_content":"dave.example.com","content":{"NS":{"hostname":"dave.example.com"}}},{"id":1,"name":null,"external_reference":null,"type":"NS","full_name":"example.com","ttl":null,"priority":null,"managed":true,"created_at":1618864930,"updated_at":1618864930,"raw_content":"laura.example.com","content":{"NS":{"hostname":"laura.example.com"}}},{"id":3,"name":null,"external_reference":null,"type":"SOA","full_name":"example.com","ttl":null,"priority":null,"managed":true,"created_at":1618864930,"updated_at":1618864931,"raw_content":"laura.example.com
        admin.example.com 1618864931 86400 7200 4000000 11200","content":{"SOA":{}}},{"id":16,"name":null,"external_reference":null,"type":"SSHFP","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864931,"updated_at":1618864931,"raw_content":"1
        2 a098b812c2423e663f946e981aaacc0e66520a38","content":{"SSHFP":{"algorithm":"1","fingerprint_type":"2","fingerprint":"a098b812c2423e663f946e981aaacc0e66520a38"}}},{"id":4,"name":"_1c102aaebd0fad7b110d902d2f3682d4","external_reference":null,"type":"CNAME","full_name":"_1c102aaebd0fad7b110d902d2f3682d4.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"9DEF881C1969EA572754FAD3258B9C57.B44F379D67E6BBC684DD3A22CCEA1E11.tf3Uy5q5AZ5AFz595yD5.comodoca.com","content":{"CNAME":{"hostname":"9DEF881C1969EA572754FAD3258B9C57.B44F379D67E6BBC684DD3A22CCEA1E11.tf3Uy5q5AZ5AFz595yD5.comodoca.com"}}},{"id":5,"name":"_dmarc","external_reference":null,"type":"TXT","full_name":"_dmarc.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"\"v=DMARC1;
        p=none; pct=100; rua=mailto:re+yf0qih6zxzd@dmarc.postmarkapp.com; sp=none;
        aspf=r;\"","content":{"TXT":{"content":"v=DMARC1; p=none; pct=100; rua=mailto:re+yf0qih6zxzd@dmarc.postmarkapp.com;
        sp=none; aspf=r;"}}},{"id":15,"name":"_sip._udp","external_reference":null,"type":"SRV","full_name":"_sip._udp.example.com","ttl":null,"priority":10,"managed":false,"created_at":1618864931,"updated_at":1618864931,"raw_content":"10
        5060 sip.example.com","content":{"SRV":{"weight":"10","port":"5060","target":"sip.example.com"}}},{"id":11,"name":"cm._domainkey","external_reference":null,"type":"TXT","full_name":"cm._domainkey.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"\"k=rsa;
        p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCsJyYnv48KsqIS/yLiU1YGjpo+KPTkKAtJEq7RW7dMEM8IzOx96Qa3S0NYDMPr9QJOJoAomLl51YFe5Xu3WlR5f8uNjH/7UujGL9RpT+Gaa23W85qhrWuQpZnBqFczLdxf3R/OP4Sm5KisVvCP+gain4h0yxFFM4UZT4893bl6QwIDAQAB\"","content":{"TXT":{"content":"k=rsa;
        p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCsJyYnv48KsqIS/yLiU1YGjpo+KPTkKAtJEq7RW7dMEM8IzOx96Qa3S0NYDMPr9QJOJoAomLl51YFe5Xu3WlR5f8uNjH/7UujGL9RpT+Gaa23W85qhrWuQpZnBqFczLdxf3R/OP4Sm5KisVvCP+gain4h0yxFFM4UZT4893bl6QwIDAQAB"}}},{"id":9,"name":"helpdesk","external_reference":null,"type":"ALIAS","full_name":"helpdesk.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"sirportly.com","content":{"ALIAS":{"hostname":"sirportly.com"}}},{"id":12,"name":"staging","external_reference":null,"type":"CNAME","full_name":"staging.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"codebase-staging.infra.atech.io","content":{"CNAME":{"hostname":"codebase-staging.infra.atech.io"}}},{"id":13,"name":"support","external_reference":null,"type":"TXT","full_name":"support.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"\"google-site-verification=aH5JAy0bfGYlRJ-wqWOCoMQccdExg5cv614AZm6GrAo\"","content":{"TXT":{"content":"google-site-verification=aH5JAy0bfGYlRJ-wqWOCoMQccdExg5cv614AZm6GrAo"}}},{"id":8,"name":"www","external_reference":"www-cname-example","type":"CNAME","full_name":"www.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"example.com","content":{"CNAME":{"hostname":"example.com"}}}]}'
  recorded_at: Mon, 19 Apr 2021 20:42:23 GMT
recorded_with: VCR 6.0.0
