---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/records
    body:
      encoding: UTF-8
      string: '{"zone":{"id":1},"properties":{"name":"test1234","type":"A","content":{"A":{"ip_address":"10.5.5.5"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1612b02a2baa7c1226537ca614c3a2b3"
    body:
      encoding: UTF-8
      string: '{"record":{"id":42,"name":"test1234","external_reference":null,"type":"A","full_name":"test1234.example.com","ttl":null,"priority":null,"content":{"A":{"ip_address":"10.5.5.5"}}}}'
  recorded_at: Tue, 09 Mar 2021 10:08:16 GMT
recorded_with: VCR 6.0.0
