---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22external_reference%22:%22cou-1%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"record_not_found","description":"No record could
        be found using the given arguments","detail":{}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
[...]
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/records
    body:
      encoding: UTF-8
      string: '{"zone":{"id":1},"properties":{"name":"cou-1","type":"A","external_reference":"cou-1","content":{"A":{"ip_address":"1.1.1.1"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6a95f3f99009f0fed13804acf44cecc"
    body:
      encoding: UTF-8
      string: '{"record":{"id":43,"name":"cou-1","external_reference":"cou-1","type":"A","full_name":"cou-1.example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358360,"updated_at":1617358360,"content":{"A":{"ip_address":"1.1.1.1"}}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
