---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:16%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c75326f64b3235ac951bb8270c32126b"
    body:
      encoding: UTF-8
      string: '{"record":{"id":16,"name":null,"external_reference":null,"type":"SSHFP","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480640,"updated_at":1618480640,"tags":[],"content":{"SSHFP":{"algorithm":"1","fingerprint_type":"2","fingerprint":"a098b812c2423e663f946e981aaacc0e66520a38"}},"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1618480640,"updated_at":1618480646,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480646}]},"created_at":1618480640,"updated_at":1618480647,"serial":1618480647,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618480640,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}}}'
  recorded_at: Thu, 15 Apr 2021 09:57:27 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/records/:record
    body:
      encoding: UTF-8
      string: '{"record":{"id":16},"properties":{"content":{"SSHFP":{"fingerprint":"abcdef1234"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6b8a3236ed5c60b3f8eba22eac65215"
    body:
      encoding: UTF-8
      string: '{"record":{"id":16,"name":null,"external_reference":null,"type":"SSHFP","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480640,"updated_at":1618480647,"tags":[],"content":{"SSHFP":{"algorithm":"1","fingerprint_type":"2","fingerprint":"abcdef1234"}},"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1618480640,"updated_at":1618480646,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480646}]},"created_at":1618480640,"updated_at":1618480647,"serial":1618480647,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618480640,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}}}'
  recorded_at: Thu, 15 Apr 2021 09:57:27 GMT
recorded_with: VCR 6.0.0
