---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:11%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d63762b914b0a5b98ca1cf0b5fe91df"
    body:
      encoding: UTF-8
      string: '{"record":{"id":11,"name":"cm._domainkey.renamed","external_reference":null,"type":"TXT","full_name":"cm._domainkey.renamed.example.com","ttl":null,"priority":null,"content":{"TXT":{"content":"new
        txt value"}}}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/records/:record
    body:
      encoding: UTF-8
      string: '{"record":{"id":11},"properties":{"type":"A","content":{"A":{"ip_address":"invalid"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"content.ip_address","type":"invalid_ipv4_address","message":"A:
        IPv4 address is not a valid IPv4 address"}]}}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
