---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22name%22:%22helpdesk%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3bf3d47c45945a6f5bfbf7b73b0950e"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":9,"name":"helpdesk","external_reference":null,"type":"ALIAS","full_name":"helpdesk.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618864930,"updated_at":1618864930,"raw_content":"sirportly.com","content":{"ALIAS":{"hostname":"sirportly.com"}}}]}'
  recorded_at: Mon, 19 Apr 2021 20:42:23 GMT
recorded_with: VCR 6.0.0
