---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22invalid%22:%22%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_argument","description":"The ''record'' argument
        is invalid","detail":{"path":["record"],"index":null,"issue":"missing_lookup_value","issue_description":"A
        value for a lookup argument set has not been provided but at least one value
        is required.","errors":[],"argument":{"id":"CoreAPI/Controllers/RecordsController/InfoEndpoint/BaseArgumentSet/RecordArgument","name":"record","description":null}}}}'
  recorded_at: Tue, 09 Mar 2021 10:08:16 GMT
recorded_with: VCR 6.0.0
