---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/records
    body:
      encoding: UTF-8
      string: '{"zone":{"id":1},"properties":{"name":"test1234","type":"A","content":{"A":{"ip_address":"10.5.5.5"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d555d7da8cb349fbb86f842f3f885de"
    body:
      encoding: UTF-8
      string: '{"record":{"id":42,"name":"test1234","external_reference":null,"type":"A","full_name":"test1234.example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480646,"updated_at":1618480646,"tags":[],"content":{"A":{"ip_address":"10.5.5.5"}},"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1618480640,"updated_at":1618480646,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480640},{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1618480640,"updated_at":1618480646}]},"created_at":1618480640,"updated_at":1618480646,"serial":1618480646,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618480640,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}}}'
  recorded_at: Thu, 15 Apr 2021 09:57:26 GMT
recorded_with: VCR 6.0.0
