---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4930b3df5ca698ca01999f712c43e868"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":1,"total_pages":9,"total":17,"per_page":2,"large_set":false},"records":[{"id":6,"name":null,"external_reference":null,"type":"A","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480640,"updated_at":1618480640,"content":{"A":{"ip_address":"185.22.211.61"}}},{"id":7,"name":null,"external_reference":null,"type":"AAAA","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480640,"updated_at":1618480640,"content":{"AAAA":{"ip_address":"2a00:67a0:a:1::1"}}}]}'
  recorded_at: Thu, 15 Apr 2021 10:03:46 GMT
recorded_with: VCR 6.0.0
