---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22page%22:2,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"469cf8ee591cbcbeaf68cf90bae63a58"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":2,"total_pages":9,"total":17,"per_page":2,"large_set":false},"records":[{"id":14,"name":null,"external_reference":null,"type":"CAA","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1618480640,"updated_at":1618480640,"content":{"CAA":{"flag":"0","tag":"issue","value":"letsencrypt.com"}}},{"id":10,"name":null,"external_reference":null,"type":"MX","full_name":"example.com","ttl":null,"priority":10,"managed":false,"created_at":1618480640,"updated_at":1618480640,"content":{"MX":{"hostname":"post.atech.io"}}}]}'
  recorded_at: Thu, 15 Apr 2021 10:03:46 GMT
recorded_with: VCR 6.0.0
