---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:16%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"61b457ed66b6e547cd8f09bfe3fb73b5"
    body:
      encoding: UTF-8
      string: '{"record":{"id":16,"name":null,"external_reference":null,"type":"SSHFP","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358343,"content":{"SSHFP":{"algorithm":"1","fingerprint_type":"2","fingerprint":"a098b812c2423e663f946e981aaacc0e66520a38"}}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/records/:record
    body:
      encoding: UTF-8
      string: '{"record":{"id":16},"properties":{"content":{"SSHFP":{"fingerprint":"abcdef1234"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60584220bfc70d8432cd329166336889"
    body:
      encoding: UTF-8
      string: '{"record":{"id":16,"name":null,"external_reference":null,"type":"SSHFP","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358360,"content":{"SSHFP":{"algorithm":"1","fingerprint_type":"2","fingerprint":"abcdef1234"}}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
