---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:6%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4686159b5908c13d6d6544925ce35db4"
    body:
      encoding: UTF-8
      string: '{"record":{"id":6,"name":null,"external_reference":null,"type":"A","full_name":"example.com","ttl":null,"priority":null,"content":{"A":{"ip_address":"185.22.211.61"}}}}'
  recorded_at: Tue, 09 Mar 2021 10:08:15 GMT
recorded_with: VCR 6.0.0
