---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/records?_arguments=%7B%22zone%22:%7B%22id%22:1%7D,%22name%22:%22helpdesk%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cdc7c5418a77226e056b2359d85e7e83"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":9,"name":"helpdesk","external_reference":null,"type":"ALIAS","full_name":"helpdesk.example.com","ttl":null,"priority":null,"managed":false,"created_at":1617287953,"updated_at":1617287953,"content":{"ALIAS":{"hostname":"sirportly.com"}}}]}'
  recorded_at: Thu, 01 Apr 2021 20:21:24 GMT
recorded_with: VCR 6.0.0
