---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/records
    body:
      encoding: UTF-8
      string: '{"zone":{"id":1},"properties":{"name":"test1234","type":"A","content":{"A":{"ip_address":"10.5.5.5"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89d5d453ba9a2ed05ce742c290b3462c"
    body:
      encoding: UTF-8
      string: '{"record":{"id":57,"name":"test1234","external_reference":null,"type":"A","full_name":"test1234.example.com","ttl":null,"priority":null,"managed":false,"created_at":1619109095,"updated_at":1619109095,"tags":[],"raw_content":"10.5.5.5","display_content":"10.5.5.5","content":{"A":{"ip_address":"10.5.5.5"}},"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1619109091,"updated_at":1619109094,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]},"created_at":1619109092,"updated_at":1619109095,"serial":1619109095,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1619109092,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false,"tags":[]}}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
recorded_with: VCR 6.0.0
