---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:6%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3f28f9f2ef8f14a460af9235a6add6e"
    body:
      encoding: UTF-8
      string: '{"record":{"id":6,"name":null,"external_reference":null,"type":"A","full_name":"example.com","ttl":null,"priority":null,"managed":false,"created_at":1617358343,"updated_at":1617358343,"content":{"A":{"ip_address":"185.22.211.61"}}}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
