---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/records/:record?_arguments=%7B%22record%22:%7B%22id%22:11%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69c41552c0e1eba2b60d0509208ac2b7"
    body:
      encoding: UTF-8
      string: '{"record":{"id":11,"name":"cm._domainkey.renamed","external_reference":null,"type":"TXT","full_name":"cm._domainkey.renamed.example.com","ttl":null,"priority":null,"managed":false,"created_at":1619109092,"updated_at":1619109095,"tags":[],"raw_content":"\"new
        txt value\"","display_content":"new txt value","content":{"TXT":{"content":"new
        txt value"}},"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1619109091,"updated_at":1619109094,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]},"created_at":1619109092,"updated_at":1619109095,"serial":1619109095,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1619109092,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false,"tags":[]}}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/records/:record
    body:
      encoding: UTF-8
      string: '{"record":{"id":11},"properties":{"type":"A","content":{"A":{"ip_address":"invalid"}}}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"content.ip_address","type":"invalid_ipv4_address","message":"A:
        IPv4 address is not a valid IPv4 address"}]}}}'
  recorded_at: Thu, 22 Apr 2021 16:31:35 GMT
recorded_with: VCR 6.0.0
