---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/record_types?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7db93250dd68e8cb2abb10be47e9e949"
    body:
      encoding: UTF-8
      string: '{"record_types":[{"name":"A","requires_priority":false,"managed_only":false,"exposed":true,"content_attributes":[{"name":"ip_address","label":"IPv4
        address","type":"text","options":null}]},{"name":"AAAA","requires_priority":false,"managed_only":false,"exposed":true,"content_attributes":[{"name":"ip_address","label":"IPv6
        address","type":"text","options":null}]},{"name":"ALIAS","requires_priority":false,"managed_only":false,"exposed":true,"content_attributes":[{"name":"hostname","label":"Hostname","type":"text","options":null}]},{"name":"CAA","requires_priority":false,"managed_only":false,"exposed":true,"content_attributes":[{"name":"flag","label":"Flag","type":"text","options":null},{"name":"tag","label":"Tag","type":"options","options":[{"label":"issue","value":"issue"},{"label":"issuewild","value":"issuewild"},{"label":"iodef","value":"iodef"},{"label":"contactemail","value":"contactemail"},{"label":"contactphone","value":"contactphone"}]},{"name":"value","label":"Value","type":"text","options":null}]},{"name":"CNAME","requires_priority":false,"managed_only":false,"exposed":true,"content_attributes":[{"name":"hostname","label":"Hostname","type":"text","options":null}]},{"name":"IPS","requires_priority":false,"managed_only":false,"exposed":false,"conte[...]
