---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:5%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d542f8cb04e38b1c20bd59d308e2fe24"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":5,"name":"raspberries.com","group":{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1617358344,"updated_at":1617358344,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343},{"id":4,"name":"ruth.example.com","server":2,"created_at":1617358343,"updated_at":1617358343}]},"created_at":1617358344,"updated_at":1617358361,"serial":1617358361,"default_ttl":3600,"external_reference":"rasps","verified":true,"nameservers_verified_at":1617358344,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}}'
  recorded_at: Fri, 02 Apr 2021 10:12:41 GMT
recorded_with: VCR 6.0.0
