---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":"potatos.com"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97fa822e9f43f23c68a60287ec4ec19c"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1617358343,"updated_at":1617358359,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617358343,"updated_at":1617358343},{"id":3,"name":"dave.example.com","server":1,"created_at":1617358343,"updated_at":1617358343}]},"created_at":1617358360,"updated_at":1617358360,"serial":1617358360,"default_ttl":3600,"external_reference":null,"verified":false,"nameservers_verified_at":null,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false}}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
