---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group/zones?_arguments=%7B%22group%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5535bf9584e19ada33b46130c8ac631"
    body:
      encoding: UTF-8
      string: '{"zones":[{"id":2,"name":"bananas.com","created_at":1617287953,"updated_at":1617288018,"serial":1617288018,"default_ttl":3600,"external_reference":"bananas","nameservers_verified_at":null,"nameservers_checked_at":1617288018,"always_verified":false,"nameservers_verified":false},{"id":1,"name":"example.com","created_at":1617287952,"updated_at":1617287953,"serial":1617287953,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617287952,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true}]}'
  recorded_at: Thu, 01 Apr 2021 14:41:25 GMT
recorded_with: VCR 6.0.0
