---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:6%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57997947703b72bc671abdb6bebace61"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284491,"updated_at":1615284491,"serial":1615284491,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1615284491,"nameservers_checked_at":null}}'
  recorded_at: Tue, 09 Mar 2021 10:08:17 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5e49f6648054a4d9aac1bd48e0f6029"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284491,"updated_at":1615284497,"serial":1615284497,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1615284491,"nameservers_checked_at":null}}'
  recorded_at: Tue, 09 Mar 2021 10:08:17 GMT
recorded_with: VCR 6.0.0
