---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:7%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f9644ea87acd3c594178180565e69433"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1618864930,"updated_at":1618864942,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930}]},"created_at":1618864944,"updated_at":1618993451,"serial":1618993451,"default_ttl":3600,"external_reference":null,"verified":false,"nameservers_verified_at":null,"nameservers_checked_at":1618993451,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false}}'
  recorded_at: Wed, 21 Apr 2021 08:27:13 GMT
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone/verify_nameservers
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1076ae07a1a69b165f804629be8c00ce"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1618864930,"updated_at":1618864942,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930}]},"created_at":1618864944,"updated_at":1618993633,"serial":1618993633,"default_ttl":3600,"external_reference":null,"verified":false,"nameservers_verified_at":null,"nameservers_checked_at":1618993633,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false}}'
  recorded_at: Wed, 21 Apr 2021 08:27:13 GMT
recorded_with: VCR 6.0.0
