---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:1%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e287a63378117f38a8d423e215d9484"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1617036705,"updated_at":1617036712,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},"created_at":1617036705,"updated_at":1617036713,"serial":1617036713,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
