---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/groups/:group/zones?_arguments=%7B%22group%22:%7B%22id%22:1%7D,%22page%22:2,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e837193954f39fb4b99e282cde33b70b"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":2,"total_pages":2,"total":3,"per_page":2,"large_set":false},"zones":[{"id":10,"name":"potatos.com","created_at":1619109096,"updated_at":1619109096,"serial":1619109096,"default_ttl":3600,"external_reference":null,"verified":false,"nameservers_verified_at":null,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false,"tags":[]}]}'
  recorded_at: Thu, 22 Apr 2021 16:31:37 GMT
recorded_with: VCR 6.0.0
