---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":"potatos.com","external_reference":null}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a02cd93ed05433731296b48a122dbf33"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245},{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202248,"updated_at":1615202248,"external_reference":null}}'
  recorded_at: Mon, 08 Mar 2021 11:17:28 GMT
recorded_with: VCR 6.0.0
