---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22invalid%22:%22%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_argument","description":"The ''zone'' argument
        is invalid","detail":{"path":["zone"],"index":null,"issue":"missing_lookup_value","issue_description":"A
        value for a lookup argument set has not been provided but at least one value
        is required.","errors":[],"argument":{"id":"CoreAPI/Endpoints/Zones/InfoEndpoint/BaseArgumentSet/ZoneArgument","name":"zone","description":null}}}}'
  recorded_at: Thu, 22 Apr 2021 16:31:36 GMT
recorded_with: VCR 6.0.0
