---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%22page%22:2,%22per_page%22:2%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4bc531570f513378669e3f1bd3df8716"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":2,"total_pages":3,"total":6,"per_page":2,"large_set":false},"zones":[{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1618864930,"updated_at":1618864944,"serial":1618864944,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618864930,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false},{"id":4,"name":"pears.com","group":{"id":2,"name":"Another
        Group"},"created_at":1618864931,"updated_at":1618864931,"serial":1618864931,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618864931,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}]}'
  recorded_at: Mon, 19 Apr 2021 20:42:24 GMT
recorded_with: VCR 6.0.0
