---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf5bcb6f0d48c1a94ccd2033db03a42c"
    body:
      encoding: UTF-8
      string: '{"zones":[{"id":3,"name":"another.com","group":{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202245,"updated_at":1615202245,"external_reference":null},{"id":2,"name":"bananas.com","group":{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245},{"id":2,"name":"ale[...]
