---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:5%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c69ae6dcffab9befbd771fc89752ddf"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":5,"name":"raspberries.com","group":{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1618864931,"updated_at":1618864931,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"available":true,"created_at":1618864930,"updated_at":1618864930},{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1618864930,"updated_at":1618864930}]},"created_at":1618864931,"updated_at":1618864944,"serial":1618864944,"default_ttl":3600,"external_reference":"rasps","verified":true,"nameservers_verified_at":1618864931,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}}'
  recorded_at: Mon, 19 Apr 2021 20:42:24 GMT
recorded_with: VCR 6.0.0
