---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01e99bbe3e2a30f69170a2f2ea236c1c"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":1,"total_pages":1,"total":6,"per_page":30,"large_set":false},"zones":[{"id":3,"name":"another.com","group":{"id":2,"name":"Another
        Group"},"created_at":1618480640,"updated_at":1618480640,"serial":1618480640,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1618480640,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false},{"id":2,"name":"bananas.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1618480640,"updated_at":1618480640,"serial":1618480640,"default_ttl":3600,"external_reference":"bananas","verified":false,"nameservers_verified_at":null,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false},{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1618480640,"updated_at":16184[...]
