---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2527dd46f8d0da8782aaf0149b6be823"
    body:
      encoding: UTF-8
      string: '{"zones":[{"id":3,"name":"another.com","group":{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1615284491,"updated_at":1615284491,"nameservers":[{"id":3,"name":"dave.example.com","server":1,"created_at":1615284490,"updated_at":1615284490},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284491,"updated_at":1615284491,"serial":1615284491,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1615284491,"nameservers_checked_at":null},{"id":2,"name":"bananas.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1615284490,"updated_at":1615284495,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490},{"id":2,"name":"alex.example.com","server":1,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284491,"updated_at":1615284491,"serial":1615284491,"default_ttl":3600,"external_reference":"bananas","nameservers_v[...]
