---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22external_reference%22:%22bananas%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8096d5416d2808b2498bc4c56589aec3"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":2,"name":"bananas.com","group":{"id":1,"name":"Example
        Group","external_reference":null,"created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245},{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202245,"updated_at":1615202245,"external_reference":"bananas"}}'
  recorded_at: Mon, 08 Mar 2021 11:17:28 GMT
recorded_with: VCR 6.0.0
