---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:6%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d385fcf4be2a560bd99004c76f237c3"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dca2a14d2658c7b21772718003405dd0"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1617036705,"updated_at":1617036705,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":3,"name":"dave.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},"created_at":1617036705,"updated_at":1617036713,"serial":1617036713,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
