---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:2%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21159bf19d2d4b3c4aad659f084be0ca"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":2,"name":"bananas.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1615284490,"updated_at":1615284495,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490},{"id":2,"name":"alex.example.com","server":1,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284491,"updated_at":1615284491,"serial":1615284491,"default_ttl":3600,"external_reference":"bananas","nameservers_verified_at":null,"nameservers_checked_at":null}}'
  recorded_at: Tue, 09 Mar 2021 10:08:18 GMT
recorded_with: VCR 6.0.0
