---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:5%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc2ae0134d8e2cd3f434ccdfbbb15224"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":5,"name":"raspberries.com","group":{"id":2,"name":"Another
        Group","external_reference":"another","created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202245,"updated_at":1615202248,"external_reference":"rasps"}}'
  recorded_at: Mon, 08 Mar 2021 11:17:29 GMT
- request:
    method: patch
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone
    body:
      encoding: UTF-8
      string: '{"zone":{"id":5},"properties":{"name":""}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","description":"A validation error
        occurred when saving the object","detail":{"errors":[{"attribute":"name","type":"blank","message":"Name
        can''t be blank"}]}}}'
  recorded_at: Mon, 08 Mar 2021 11:17:29 GMT
recorded_with: VCR 6.0.0
