---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":"potatos.com","external_reference":null}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ea86d9f05d256d5cd58fbe50acaf234"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1615284490,"updated_at":1615284495,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"created_at":1615284490,"updated_at":1615284490},{"id":2,"name":"alex.example.com","server":1,"created_at":1615284490,"updated_at":1615284490}]},"created_at":1615284497,"updated_at":1615284497,"serial":1615284497,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":null,"nameservers_checked_at":null}}'
  recorded_at: Tue, 09 Mar 2021 10:08:17 GMT
recorded_with: VCR 6.0.0
