---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22id%22:6%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf525ee5ddbd421fd031ff7a556a595f"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202246,"updated_at":1615202246,"external_reference":null}}'
  recorded_at: Mon, 08 Mar 2021 11:17:29 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf525ee5ddbd421fd031ff7a556a595f"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":6,"name":"red.com","group":{"id":2,"name":"Another Group","external_reference":"another","created_at":1615202245,"updated_at":1615202245,"nameservers":[{"id":2,"name":"alex.example.com","server":1,"created_at":1615202245,"updated_at":1615202245},{"id":4,"name":"ruth.example.com","server":2,"created_at":1615202245,"updated_at":1615202245}]},"created_at":1615202246,"updated_at":1615202246,"external_reference":null}}'
  recorded_at: Mon, 08 Mar 2021 11:17:29 GMT
recorded_with: VCR 6.0.0
