---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":"potatos.com"}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8f7fedcfc5a84b9c386cd229576a6a4"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":10,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1619109091,"updated_at":1619109094,"nameservers":[{"id":4,"name":"ruth.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":2,"name":"alex.example.com","server":1,"available":true,"created_at":1619109091,"updated_at":1619109091}]},"created_at":1619109096,"updated_at":1619109096,"serial":1619109096,"default_ttl":3600,"external_reference":null,"verified":false,"nameservers_verified_at":null,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":false,"reverse_dns":false,"stale_verification":false,"tags":[]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:36 GMT
recorded_with: VCR 6.0.0
