---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7c5102d4de3b1966ad55475c1b74085"
    body:
      encoding: UTF-8
      string: '{"zones":[{"id":3,"name":"another.com","group":{"id":2,"name":"Another
        Group"},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null},{"id":2,"name":"bananas.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":"bananas","nameservers_verified_at":null,"nameservers_checked_at":null},{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1617036705,"updated_at":1617036713,"serial":1617036713,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null},{"id":4,"name":"pears.com","group":{"id":2,"name":"Another
        Group"},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null},{"id":6,"name":"red.com","group":{"id":2,"name":"Another
        Group"},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null},{"id":5,"name":"strawberries.com","group":{"id":2,"name":"Another
        Group"},"created_at":1617036705,"updated_at":1617036705,"serial":1617036705,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":1617036705,"nameservers_checked_at":null}]}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
