---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%22query%22:%22example%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29c2e4bd761221034c63ea44a9d283dc"
    body:
      encoding: UTF-8
      string: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"zones":[{"id":1,"name":"example.com","group":{"id":1,"name":"Renamed
        Group"},"created_at":1619109092,"updated_at":1619109095,"serial":1619109095,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1619109092,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false,"tags":[]}]}'
  recorded_at: Thu, 22 Apr 2021 16:31:36 GMT
recorded_with: VCR 6.0.0
