---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones?_arguments=%7B%22query%22:%22pears%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e50f809a7974f08db7aac0709bd7fb2e"
    body:
      encoding: UTF-8
      string: '{"zones":[{"id":4,"name":"pears.com","group":{"id":2,"name":"Another
        Group"},"created_at":1617358344,"updated_at":1617358344,"serial":1617358344,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1617358344,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false}]}'
  recorded_at: Fri, 02 Apr 2021 10:12:40 GMT
recorded_with: VCR 6.0.0
