---
http_interactions:
- request:
    method: post
    uri: https://dennis.dev.adam.ac/api/v1/zones
    body:
      encoding: UTF-8
      string: '{"group":{"id":1},"properties":{"name":"potatos.com","external_reference":null}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95bc1729a0b1d942d847329ae0fb5d60"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":7,"name":"potatos.com","group":{"id":1,"name":"Renamed
        Group","external_reference":"with-ref","created_at":1617036705,"updated_at":1617036712,"nameservers":[{"id":5,"name":"laura.example.com","server":2,"created_at":1617036705,"updated_at":1617036705},{"id":2,"name":"alex.example.com","server":1,"created_at":1617036705,"updated_at":1617036705}]},"created_at":1617036713,"updated_at":1617036713,"serial":1617036713,"default_ttl":3600,"external_reference":null,"nameservers_verified_at":null,"nameservers_checked_at":null}}'
  recorded_at: Mon, 29 Mar 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
