---
http_interactions:
- request:
    method: get
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone?_arguments=%7B%22zone%22:%7B%22name%22:%22delete-me.com%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fedfef5a85809bb4835b27199867f796"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":8,"name":"delete-me.com","group":{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109095}]},"created_at":1619109092,"updated_at":1619109092,"serial":1619109092,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1619109092,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false,"tags":[]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:36 GMT
- request:
    method: delete
    uri: https://dennis.dev.adam.ac/api/v1/zones/:zone
    body:
      encoding: UTF-8
      string: '{"zone":{"id":8}}'
    headers:
      Authorization:
      - Bearer test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"199ca33266ba968195ef2b7f73a343d8"
    body:
      encoding: UTF-8
      string: '{"zone":{"id":8,"name":"delete-me.com","group":{"id":4,"name":"Strawberries
        Group","external_reference":null,"created_at":1619109092,"updated_at":1619109092,"nameservers":[{"id":6,"name":"kelly.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109091},{"id":1,"name":"phil.example.com","server":2,"available":true,"created_at":1619109091,"updated_at":1619109095}]},"created_at":1619109092,"updated_at":1619109096,"serial":1619109096,"default_ttl":3600,"external_reference":null,"verified":true,"nameservers_verified_at":1619109092,"nameservers_checked_at":null,"always_verified":false,"nameservers_verified":true,"reverse_dns":false,"stale_verification":false,"tags":[]}}'
  recorded_at: Thu, 22 Apr 2021 16:31:36 GMT
recorded_with: VCR 6.0.0
